{% include 'parent/base_filehead.html' %}

        <div id="search" style="margin-top:20px;">
                <form action="/history/" method="GET">
                        <select name="info" class="selectpicker">
                                <option value="objpk">PKID</option>
                        </select>
                        <span>:</span>
                        <input type="text" name="q"  placeholder="输入你要查询的PKID">
                        <button class="btn btn-xs btn-info" type="submit">搜一下</button>
                </form>
        </div>

	<div id="content" style="margin-top:20px;">
		<table class="table table-striped table-condensed">
			<tr>
				<th>OBJNAME</th>
				<th>PKID</th>
                                <th>TYPE</th>
                                <th>内容</th>
                                <th>操作人</th>
                                <th>时间</th>
			{% for h in room.object_list %}
			</tr>
				<td>{{ h.objname }}</td>
                                <td>{{ h.objpk }}</td>
                                <td>{{ h.type }}</td>
                                <td>{{ h.context }}
				</td>
                                <td>{{ h.oprater }}</td>
                                <td>{{ h.create_date }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

        {% block pages %}
        <div id="pages">
        {% if room.has_previous %}
                {% if curl %}
                <a href="{{ curl }}&page={{ room.previous_page_number }}">上一页</a>
                {% else %}
                <a href="?page={{ room.previous_page_number }}" >上一页</a>
                {% endif %}
        {% else %}
                上一页
        {% endif %}第{{ room.number }}页
        {% if room.has_next %}
                {% if curl %}
                <a href="{{ curl }}&page={{ room.next_page_number }}">下一页</a>
                {% else %}
                <a href="?page={{ room.next_page_number }}">下一页</a>
                {% endif %}
        {% else %}
                下一页
        {% endif %}
        <span style="margin-left:20px">共 {{ room.paginator.num_pages }} 页 合计 {{ room.paginator.count }} 条记录</span>
        </div>
        {% endblock %}
    </body>
</html>
