{% include "parent/base_filehead.html" %}
	{% include "parent/base_head.html" %}

        <div style="margin-top:20px">
        {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors }} below.
        </p>
        {% endif %}
        {% if portformat %}
        {% else %}
        <p style="color: red;">
            接口 如果是填入tunnel类型端口号,必须Tunnel123，tun123，vtun123的格式.
        </p>
        {% endif %}
		<form method="post" class="form-horizontal">{% csrf_token %}
		{% for field in form %}
                <div class="form-group">
			<label class="col-sm-2 control-label">
				{{ field.label }}
			</label> 
			<div class="col-sm-6">
				{{ field }}
				{% if field.help_text %}
				<p class="help-inline"><small>{{ field.help_text }}</small></p>
				{% endif %}
			</div>
		</div>
		{% endfor %}
                <div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<a href="javascript:history.back()" class="btn btn-success">返回</a>
				<button class="btn btn-primary" type="submit">添加</button>
			</div>
                </div>
		</form>
        </div>
</body>
</html>
