<!DOCTYPE html>
<html lang="zh-CN">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>tellme</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
<script>
    function select_fastpe(){
        var obj=document.getElementById('fastpes');
        document.getElementById('id_fastpe').value=obj.value;
    }
    function select_flanpe(){
        var obj=document.getElementById('flanpes');
        document.getElementById('id_flanpe').value=obj.value;
    }
    function select_bkpe(){
        var obj=document.getElementById('bkpes');
        document.getElementById('id_bkpe').value=obj.value;
    }
</script>
</head>

<body style="width:80%;margin:auto;font-size:13px">
