{% include "parent/base_filehead.html" %}

    {# form 的请求方法为 post #}
    {# enctype 属性为 "multipart/form-data" 才能正确发送 #}
    {# 发送到的网址 save_profile 将在下面 url 中定义 #}
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
    {# 上传图片的表单 #}
	{% for field in form %}
		{% ifequal field.label 'Siteid' %}
		<input type="hidden" name="siteid"  id="id_siteid" value="{{ id }}" />
		<h3>验收报告：{{ id }}</h3>
		{% else %}
        	{{ field }}
		{% endifequal %}
	{% endfor %}
	{# 按钮，type 属性需设为 "submit" #}
	<br /><button type="submit" class="btn btn-info">上传</button>
    </form>

	<table class="table" style="margin-top:20px">
		<tr>
			<th>文件名</th>
			<th>上传者</th>
			<th>上传日期</th>
                        <th>操作</th>
		</tr>
		{% for file in fileurl %}
		<tr>
			<td><a href="/{{ file.fileurl }}">{{ file.filename }}</a></td>
			<td>{{ file.uploader }}</td>
			<td>{{ file.create_date }}</td>
                        <td><a href="/trashfile/report/{{ file.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>
