<div style="margin-top:20px;">
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>ID</th><th>厂商</th><th>A端地址</th><th>B端地址</th><th>线路编号</th><th>状态</th>
    </tr>
    {% for local in room.object_list %}
    <tr>
        <td><a href="/cid/{{ local.siteid.cid.cid }}/?collapse={{ local.siteid.siteid }}">{{ local.svcid }}</a></td>
        <td>{{ local.localsp }}</td>
        <td>{{ local.localaddra }}</td>
        <td>{{ local.localaddrb }}</td>
        <td>{{ local.localnumber }}</td>
        <td><span style="color:red"> {{ local.status }}</span></td>
    </tr>
    {% endfor %}
</table>
</div>

        {% block pages %}
        <div id="pages">
        {% if room.has_previous %}
                {% if curl %}
                <a href="{{ curl }}&page={{ room.previous_page_number }}">上一页</a>
                {% else %}
                <a href="?page={{ room.previous_page_number }}" >上一页</a>
                {% endif %}
        {% else %}
                上一页
        {% endif %}第{{ room.number }}页
        {% if room.has_next %}
                {% if curl %}
                <a href="{{ curl }}&page={{ room.next_page_number }}">下一页</a>
                {% else %}
                <a href="?page={{ room.next_page_number }}">下一页</a>
                {% endif %}
        {% else %}
                下一页
        {% endif %}
        <span style="margin-left:20px">共 {{ room.paginator.num_pages }} 页 合计 {{ room.paginator.count }} 条记录</span>
        </div>
        {% endblock %}
