{% extends "parent/base_cid.html" %}

{% block contact_key %}
{% endblock %}
{% block contact_value %}
{% endblock %}

{% block editfasthead %}
        <th>操作</th>
{% endblock %}
{% block editfastbody %}
<td>
        <a href="/fastedit/{{ fast.svcid }}" style="margin-right:40px">QC</a>
        <a href="http://newticket.fnetlink.com:10082/opennew.php?stuser={{ user }}&lineid={{ fast.svcid }}&linewanip={{ fast.fastwanip }}&contractname={{ cid.contractname }}&sitecontact={{ site.mastercontact }}&sitephone={{ site.masterphone }}&email={{ cid.sales }}" rel="external" style="margin-right:40px" target="_blank">TICKET</a>
</td>
{% endblock %}

{% block editflanhead %}
        <th>操作</th>
{% endblock %}
{% block editflanbody %}
<td>
        <a href="http://newticket.fnetlink.com:10082/opennew.php?stuser={{ user }}&lineid={{ flan.svcid }}&linewanip={{ flan.flanwanip }}&contractname={{ cid.contractname }}&sitecontact={{ site.mastercontact }}&sitephone={{ site.masterphone }}&email={{ cid.sales }}" rel="external" style="margin-right:40px" target="_blank">TICKET</a>
</td>
{% endblock %}

{% block editlocalhead %}
        <th>操作</th>
{% endblock %}
{% block editlocalbody %}
<td>
        <a href="http://newticket.fnetlink.com:10082/opennew.php?stuser={{ user }}&lineid={{ local.svcid }}&linewanip={{ local.localsp }}&contractname={{ cid.contractname }}&sitecontact={{ site.mastercontact }}&sitephone={{ site.masterphone }}&email={{ cid.sales }}" rel="external" style="margin-right:40px" target="_blank">TICKET</a>
</td>
{% endblock %}
